

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

:root {
  --top-bar-color: #3740b0;
  --text-bold-color: #3e4494;
  --text-content-color: #747474
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0
}

ul {
  padding: 0
}

* {
  box-sizing: border-box;
}