.headerTopBar {
    background-color: 'white';
    color: var(--top-bar-color);
}

.headerWrapper {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 19px 0;
}

@media only screen and (max-width: 768px) {
    .headerWrapper {
        justify-content: center !important;
    }
  }