@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap');

.serviceTimeWrapper {
    display: flex;
    gap: 12px;
}
.serviceTimeChildWrap {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
}
.serviceTimeChildWrap > h3 {
    margin: 0;
}

.textContent {
    color: var(--text-content-color);
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.serviceMainWrapper {
    background-image: url('/services_bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: top;
}

.titleSection {
    font-size: 44px;
    font-family: 'Montserrat', sans-serif;
    color: var(--text-bold-color);
    text-align: center;
    margin: 0;
}

.middlePaddingDiv {
    padding: 80px 0;
}

.boxCoreWrapper {
    height: 386px;
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 60px 30px 35px 30px;
    box-shadow: 0 0 74px rgb(10 10 10 / 7%);
    line-height: 1.7;
    font-family: 'Montserrat', sans-serif;
}

.boxCoreWrapper > h3 {
    margin: 0;
    color: #f17d44;
}

.boxCoreWrapper > p {
    text-align: center;
}

.contactParallaxWrapper {
    /*display: flex;*/
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
    /*justify-content: space-between;*/
}

.contactParallaxWrapper > div > h3 {
    font-size: 48px;
    color: white;
    margin: 0;
}

.contactParallaxWrapper > div > p {
    color: #f17d44;
    font-size: 20px;
}

.actionItemButton {
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    border-radius: 30px;
    padding: 19px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
}

.aboutUsWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

.aboutUsWrapper > h3 {
    font-size: 93px;
    color: whitesmoke;
    margin: 0;
}

.aboutUsWrapper > p {
    color: whitesmoke;
}

.wrapperAboutUsContext {
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

.wrapperAboutUsContext > h3 {
    font-size: 32px
}

.wrapperAboutUsContext > p {
    font-size: 18px;
    color: var(--text-content-color);
    margin-bottom: 10px;
    line-height: 1.7;
}

.wrapperAboutUsContext .contentImage {
    background-image: url('/about_team_bg.jpg');
    min-height: 430px;
    width: 100%;
    background-size: cover;
    background-position: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.wrapperItemContact {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
    margin-top: 20px;
    /* overflow: hidden; */
}

.wrapperItemContact > h3 {
    font-size: 26px;
}

.wrapperItemContact > p {
    color: var(--text-content-color);
    font-size: 16px;
    margin-bottom: 20px;
}

.wrapperItemContact > a {
    color: #3e4494;
}

.customStyleFormInput {
    width: 100%;
    border-bottom: none !important;
}

.inputStyleCustom {
    /* padding: 22px 20px; */
}

.titleFormSend {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
}


.titleFormSend > h3 {
    font-size: 39px;
    margin: 0;
    color: #383838;
}

.titleFormSend > p {
    font-size: 19px;
    color: var(--text-content-color);
}

.submitButton {
    cursor: pointer;
    background-color: #3740b0;
    padding: 20px 44px;
    text-transform: none;
    letter-spacing: 0px;
    font-size: 16px;
    font-weight: bold;
    min-width: 0px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: white;
    margin-top: 10px;
}

.wrapperFooter {
    background-color: #1f1f1f;
    color: #ababab;
    padding: 72px 50px 67px;
    margin-top: 50px;
}
.linkAWrapper {
    cursor: pointer;
}

.outCasesItem {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
    outline: none !important;
}
.outCasesItem > div {
    padding: 20px 16px 0 16px;

}

.outCasesItem h3 {
    color: var(--text-bold-color);
    font-size: 21px;
    cursor: pointer;
}
.outCasesItem h3:hover {
    color: #f17d44;
}

.outCasesItem p {
    font-size: 16px;
    color: #525A70;
}

