@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap');

.serviceTimeWrapper {
    display: flex;
    gap: 12px;
}
.serviceTimeChildWrap {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
}
.serviceTimeChildWrap > h3 {
    margin: 0;
}

.textContent {
    color: var(--text-content-color);
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.serviceMainWrapper {
    background-image: url('/services_bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: top;
}

.titleSection {
    font-size: 44px;
    font-family: 'Montserrat', sans-serif;
    color: var(--text-bold-color);
    text-align: center;
    margin: 0;
}

.middlePaddingDiv {
    padding: 80px 0;
}

.boxCoreWrapper {
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 60px 30px 35px 30px;
    -webkit-box-shadow: 0 0 74px rgb(10 10 10 / 7%);
    line-height: 1.7;
    font-family: 'Montserrat', sans-serif;
}

.boxCoreWrapper > h3 {
    margin: 0;
    color: #f17d44;
}

.boxCoreWrapper > p {
    text-align: center;
}

.contactParallaxWrapper {
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    justify-content: space-between;
}

.contactParallaxWrapper > div > h3 {
    font-size: 48px;
    color: white;
    margin: 0;
}

.contactParallaxWrapper > div > p {
    color: #f17d44;
    font-size: 20px;
}

.actionItemButton {
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    border-radius: 30px;
    padding: 19px 36px;
}